* {
  box-sizing: border-box;
  margin: 0;
  color: #fff;
}

@keyframes color {
  0%   { background: #75bebe; }
  20%  { background: #74c275; }
  40%  { background: #9eaf32; }
  60%  { background: #a79343; }
  80%  { background: #7e52a7; }
  100% { background: #788d8d; }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  background-color: #a471d3;
  gap: 50px;
  background: #33CCCC; /* Fallback */
  animation: color 22s infinite linear;
}

.main-h {
  width: 90%;
  display: flex;
  justify-content: center;
}

.main-section {
  display: flex;
  justify-content: space-between;
  width: 80%;
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  padding: 50px;
  border: 2px dotted #bbb;
}

.scores {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.refresh {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-list {
  width: 100%;
  border: 2px solid #000;
  min-height: 50px;
}

.ind-score {
  padding: 20px;
}

.ind-score:nth-child(odd) {
  background-color: #bbb;
}

.form-div {
  width: 40%;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form input {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px dotted #bbb;
}

.form input::placeholder {
  color: rgb(219, 213, 213);
}

button {
  padding: 20px;
  border-radius: 8px;
  /* border: 2px dashed #bbb; */
  background-color: #000;
}

h1 {
  font-size: 65px;
  color: #fff;
}

h2 {
  font-size: 30px;
}


